
@using Abc.MvcWebUI.Models
@model Abc.MvcWebUI.Models.Cart

    <style>

        #cart {
            color: white;
        }
    </style>

<ul class="navbar-nav  my-2 my-lg-0">
    <li class="nav-item"  id="cart">
        
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            (@Model.CartLines.Count)

    </li>
</ul>

